/**
* 九型人格测试（144题评定版开源代码）
* 
* 【版权声明】
* 禁止用于商业用途，如需作商业用途，请务必与素材资源的原作者联系，否则责任自负。
* 
* @author: yixzm
* @mail:   dream@yixzm.cn
* @site:   http://www.yixzm.cn
* @blog:
* 
* 源码讲解：https://blog.csdn.net/dreamstone_xiaoqw/article/details/90046498
* 原版说明：https://blog.csdn.net/dreamstone_xiaoqw/article/details/83903609
*/
html {
    height: 95%;
}

body {
    background-color: #f5f6f7;
    font-family: 'Comic Sans MS', '微软雅黑', serif, sans-serif, fantasy, cursive;
    height: 100%;
    margin: 0px;
}

hr {
    height: 1px;
    border: none;
    border-top: 1px solid #d0d9e2;
}

nav {
    background-color: white;
    height: 1.8rem;
    padding: 0.1rem 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    word-break: break-all;
    text-align: justify;
}

.btn {
    padding: 0.312rem 0.675rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 0.875rem;
    margin: 4px 2px;
    cursor: pointer;
    background-color: white;
    color: black;
    border: 1.5px solid#007bff;
    border-radius: 0.75rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.btn:hover {
    background-color: #007bff !important;
    color: white;
}

.btn:active {
    background-color: #035ec0;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.href {
    border-radius: 15px;
    color: #007bff;
    cursor: pointer;
    letter-spacing: 0.1px;
    padding: 0px 0.618rem;
    white-space: nowrap;
}

.href:hover {
    color: red;
    font-weight: bold;
}

.href:active {
    background-color: #035ec0;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.social {
    padding: 0 1.73rem 1.618rem 1.73rem;
    margin: 0px 2%;
    word-break: hyphenate;
    text-align: left;
    background-color: white;
    vertical-align: top;
    min-width: 280px;
}

#main {
    margin: 1rem;
}

body {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

hr {
    height: 1px;
    border: none;
    border-top: 2px solid #f5f6f7;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

pre {
    font-family: "微软雅黑";
    font-size: 1.01rem;
}

#head {
    background-color: #232E3c;
    margin: 0px;
    color: white;
    padding: 0.108rem 0px;
    width: 100%;
    min-width: 320px;
}

.delw {
    padding: 0px 0px;
}

.addw {
    padding: 0px 12%;
}

.intro {
    background-color: lavender;
    margin: 2%;
}

.question {
    font-size: 1.2rem;
    /* line-height: 3rem; */
    text-align: justify;
    word-wrap: break-word;
}

.radio {
    margin: 20px;
}

#progress_bar {
    width: 95%;
}

#question_number {
    text-align: left;
    font-size: 1.2rem;
    padding: 1.218rem 1.618rem;
}

#start_testing {
    font-size: 2rem;
    /* background-color: aliceblue; */
    padding: 1rem 1.5rem;
    border: 5px solid#007bff !important;
}

@media (min-width:878px) {
    #main {
        margin: 0px;
        padding: 0px 1.618rem;
        min-width: 380px;
        text-align: center;
    }

    #question_board {
        text-align: center;
        padding: 1.5rem 27%;
    }

    .intro {
        padding: 1.218rem 1.618rem;
        min-width: 300px;
        word-break: break-all;
        text-align: justify;
    }

    #stylePicture {
        height: 361px;
        width: 50%;
    }

    #styleInfo {
        height: 361px;
        width: 10%;
    }
}

@media (max-width:878px) {
    #main {
        margin: 0px 1.1%;
        padding: 0px 0px;
        min-width: 300px;
        text-align: center;
    }

    #question_board {
        text-align: center;
        padding: 1.5rem 2%;
    }

    #head {
        margin-top: 0.121rem;
    }

    #stylePicture {
        height: 361px;
        width: 361px;
    }

    .intro {
        display: inline-block;
        padding: 2.218rem 1.618rem;
        min-width: 300px;
        word-break: break-all;
        text-align: justify;
    }
}