<!DOCTYPE html>
<html lang='zh-cn'>

<head>
	<title>九型人格分析 | Analysis of personality traits</title>
	<meta name=keywords content="void* Future - 了解, 自身, 优势, 弱点, 行动, 知道, 看待, 相互, 相处, 影响, 笔记, 故事, future, etc.">
	<meta name=description
		content="此份问卷将有助于你更好地了解自身的优势和弱点，并知道在何种情形下你的行动更为有效。同时，你还可以通过此问卷知道他人是如何看待他们自己的，以及相互之间又是如何相处影响的。">
	<meta http-equiv='Content-Type' content='text/html; charset=utf-8' />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<meta http-equiv='description' content='www.yixzm.cn' />

	<!-- 将public设置为站点主页面，则css链接为：href="/static/q_144.css" -->
	<link rel="stylesheet" type="text/css"
		href="/nine/public/static/q_144.css">

</head>

<body>
	<nav>
		<a class="href" href="/nine_style_people">Back to Home</a>
	</nav>

	<div id="head">
		<div class="addw">
			<h2>九型人格测试-144题</h2>
			<p>了解自身，发现更强大的自己 | welcom to yixzm.cn</p>
		</div>
	</div>

	<div id="main">
		<div class="intro" id="msg_welcom">
			<strong>答案没有对错之分，仅是反映你当前的世界观，更好地了解自身。</strong>
			</br>
		</div>

		<pre id="timer">总时间：45分钟</pre>
		<progress max="100" value="0" id="progress_bar"><span id="objprogress">0</span>%</progress>

		<div id="question_number">总共 144 道题目</div>
		<div class="social" id="question_board"></div>
		<div>
			<div class="social" id="stylePicture"></div>
			<div class="social" id="styleInfo"></div>
		</div>

		<div class="intro" id="msg_tip">
			测试结果虽无法完全表达人格，但至少可以洞察我们现在的生命状态。
		</div>
	</div>

	<footer id="copyright"></footer>

	<!-- 将public设置为站点主页面，则css链接为：href="/static/q_144.js" -->
	<script src="/nine/public/static/q_144.js"></script>
	<script src="http://cdn.yixzm.cn/lib/echarts/echarts.min.js"></script>

</body>

</html>